#contact {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.contactContainer {
    background-image: url(https://static.wixstatic.com/media/43fe12_8375adf19b6e4cf68276d071f04aa997~mv2.png/v1/fill/w_640,h_370,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/43fe12_8375adf19b6e4cf68276d071f04aa997~mv2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    color: white;
    height: 100vh;
    width: 150vw;
    font-size: 3rem;
    /* background-color: rgb(177, 177, 177); */
}

.git {
    position: absolute;
    font-size: xxx-large;
    color: black;
    margin-top: -35rem;
    margin-left: 40%;
}

.lwt {
    color: black;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 80px;
    margin-top: -6rem;
    margin-left: 15rem;
}

.description {
    font-size: large;
    font-weight: 200;
    margin-left: 15rem;
    color: black;
}

.contactForm {
    /* margin: 5rem -15rem 0 0 ; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    width: 100%;
    /* Set the width to 100% */
    max-width: 60rem;
    /* Set a maximum width if needed */
    margin-top: 10rem;
    position: static;
}

.name,
.email,
.msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 1rem;
    /* Adjust the padding as needed */
    color: black;
    border: none;
    border-radius: 1rem;
    /* background: rgb(154, 153, 153); */
    background: rgb(224, 224, 224);
    border: 3px solid black;
    box-sizing: border-box;
    /* Include padding in the total width/height */
}

.submitBtn {
    background: rgb(224, 224, 224);
    border: 3px solid #000;
    color: rgb(56, 55, 55);
    padding: 0.75rem 3.5rem;
    border-radius: 0.75rem;
    font-size: large;
    margin: 2rem;
}

@media screen and (max-width: 1240px) {
    .git {
        font-size: xx-large;
        margin-top: -38rem;
        text-align: center;
    }

    .lwt {
        display: none;
    }

    .description {
        display: none;
    }

    .contactForm {
        margin-top: 10rem;
        /* margin: auto; */
        padding: 2rem;
    }

    .submitBtn {
        margin-left: 2rem;
    }
}

@media screen and (max-width: 430px) {
    .git {
        font-size: xx-large;
        margin-top: -40rem;
        margin-left: 29%;
    }

    .lwt {
        display: none;
    }

    .description {
        display: none;
    }

    .contactForm {
        margin-top: 10rem;
        padding: 2rem;
    }

    .submitBtn {
        margin-left: 2rem;
    }
}

@media screen and (max-width: 390px) {
    .git {
        font-size: xx-large;
        margin-top: -40rem;
        margin-left: 25%;
    }

    .lwt {
        display: none;
    }

    .description {
        display: none;
    }

    .contactForm {
        margin-top: 10rem;
        padding: 2rem;
    }

    .submitBtn {
        margin-left: 2rem;
    }
}