#myContact {
    height: calc(100vh-5rem);
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: static;
    display: block;
}

.myContactContainer {
    color: white;
    background-color: rgb(37, 37, 37);

}

/* Style for the contact-info container */
.contact-info {
    font-family: 'Arial', sans-serif;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 10rem;

}

.contact-info h3 {
    margin-bottom: 5rem;
    margin-left: -5rem;
}

/* Style for the list items inside the contact-info container */
.contact-info ul {
    list-style-type: none;
    padding: 0;
}

/* Style for each list item */
.contact-info li {
    margin-bottom: 25px;
    font-weight: lighter;
}

/* Style for the strong (labels) within each list item */
.contact-info li strong {
    display: block;
    /* Ensure the label is on a new line */
    font-weight: bold;
    margin-bottom: 5px;
}

/* Style for the email link */
.contact-info li a {
    text-decoration: underline;
    color: white;
    /* Blue color for the link, you can customize this */
}