/* skills.css

.mySkillsBg {
    background-image: url(https://fptshop.com.vn/uploads/originals/2022/6/22/637915136311660975_danh-gia-macbook-pro-m2-2022-0.JPG);
    background-repeat: no-repeat;
    background-size: contain; 
    width: 100%;
    height: 100vh; 
    color: black; 
    padding: 0;
    margin: auto;
} */

#mh-skills {
    display:flex;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    background-color: rgb(192, 191, 191);
    background-repeat: no-repeat;
}

.eachSkill {
    display: flex;
    margin: 0 0;
    text-align: center;
    flex-wrap: wrap;
    gap: 0px;
    width: 50%;
}

.cir-pro {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.title {
    position: absolute;
    margin-top: 1rem;
    font-size: xx-large;
    white-space: nowrap;
    right: 69%;
    color: bla
}

.circular-progress {
    position: relative;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    /* background: conic-gradient(#1b1b1b 3.6deg, white 0deg); */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 20px 10px 35px; 
    /* top right bottom left */
}

.circular-progress::before {
    content: "";
    position: absolute;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color: rgb(192, 191, 191);
}

.progress-value {
    position: relative;
    align-items: center;
    font-size: 23px;
    font-weight: 600;
}

.text {
    color: black;
    position: relative;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    top: 20px;
    font-size: 25px;
}

.soft-skills {
    width: 500px;
    margin: 120px;
    margin-left: center; 
}

.soft-skills li {
    position: relative;
    list-style: none;
    margin: 50px 0;
    font-weight: 500;
    font-size: larger;
    text-transform: uppercase;
}

li::before {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 10px;
    background-color: rgba(50, 50, 50, .2);
    border-radius: 1000px;
}


li::after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 10px;
    background-color: rgb(0, 0, 0, 1);
    border-radius: 1000px;
    animation: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

li.communication::after {
    animation-name: communication;
}

@keyframes communication {
    to {
        width: 90%;
    }
}


@media (max-width: 1000px) {
    .eachSkill {
        flex-wrap: wrap;
        width: 100%;
    }

    .eachSkill > div {
        flex-basis: calc(50% - 2rem); /* 2rem is the margin, adjust as needed */
        margin-bottom: 1rem;
    }
}