#about {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;   
    display: flex; /* Use flexbox for easier alignment */
}

.aboutPic {
    position: relative;
    width: 650px; 
    top: -35rem;
    right: 45rem;
}

.aboutContent {
    color: black;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8l3KG1CQVtbK3QwtsiNfCNBosPOTijeGRWw&usqp=CAU);
    padding-left: 50%;
    padding-right: 5%;
    padding-top: 12%;
}

.helloAbout {
    font-weight: 800;
    font-size: xxx-large;
}

.aboutDetail {
    font-weight: 300;
    font-size: larger;
}

@media screen and (max-width:1000px) {
    .aboutPic {
        display: none;
    }
    .helloAbout {
        text-align: center;
        font-size: xx-large;
    }
    .aboutContent {
        padding-left: 10%;
        padding-top: 30%;
        align-items: center;
        font-size: small;
        width: fit-content;
    }
    .btn {
        padding: 5% 5%;
        font-size: large;
    }
}

@media screen and (max-width:420px) {
    .aboutPic {
        display: none;
    }
    .helloAbout {
        align-items: center;
        font-size: xx-large;
    }
    .aboutContent {
        padding-left: 10%;
        padding-top: 30%;
        align-items: center;
        font-size: small;
        width: fit-content;
    }
    .btn {
        padding: 5% 8%;
        font-size: large;
    }
}